.header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}