main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}

main .card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .card-title {
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fff;
}

main .card-text {
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 400;
    color: #999;
}

main .card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

main .card-tag,
main .card-link {
    width: fit-content;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid rgba(0, 255, 204, 0.4);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #00ffcc;
    background-color: rgba(0, 255, 204, 0.05);
    box-shadow: 
        0 0 5px rgba(0, 255, 204, 0.2),
        inset 0 0 5px rgba(0, 255, 204, 0.2);
}

main .card-link > svg {
    width: 14px;
    height: auto;
}