.main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name {
    margin-bottom: 14px;
    font-size: clamp(3rem, 12vw, 3rem);
    line-height: 1;
    font-weight: 900;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #fff;
}

.subtitle {
    margin-bottom: 14px;
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #00ffcc;
}

.presentation {
    max-width: 500px;
    font-size: 1rem;
    line-height: 1.5;
    color: #999;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-title {
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fff;
}

.card-text {
    font-size: 0.95rem;
    line-height: 1.5;
    font-weight: 400;
    color: #999;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-tag,
.card-link {
    width: fit-content;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid rgba(0, 255, 204, 0.4);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #00ffcc;
    background-color: rgba(0, 255, 204, 0.05);
    box-shadow: 
        0 0 5px rgba(0, 255, 204, 0.2),
        0 0 10px rgba(0, 255, 204, 0.2),
        inset 0 0 5px rgba(0, 255, 204, 0.2);
}

.card-link > svg {
    width: 14px;
    height: auto;
}

@media (max-width: 768px) {
    .name { letter-spacing: -0.02em; }
    .subtitle { 
        font-size: 0.9rem;
        letter-spacing: 8px; 
    }
}