.main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section:first-child {
    border-left: 1px solid #00ffcc;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name {
    padding-left: 14px;
    margin-bottom: 14px;
    font-size: clamp(3rem, 12vw, 3rem);
    line-height: 0.8;
    font-weight: 900;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 768px) {
    .name {
        letter-spacing: -0.02em;
    }
}

.presentation {
    max-width: 500px;
    padding-left: 14px;
    margin-left: 4px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #999;
    
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-title {
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fff;
}

.card-text {
    font-size: 0.95rem;
    line-height: 1.7;
    font-weight: 400;
    color: #999;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-tag {
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 255, 204, 0.3);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #00ffcc;
    background-color: rgba(0, 255, 204, 0.05);
    
}