@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
    transition: all 0.3s ease-in-out;
    text-rendering: optimizeLegibility;
    font-optical-sizing: auto;
    image-rendering: optimizeQuality;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

html,
body { overflow-x: hidden !important; }

html { scroll-behavior: smooth; }

body { 
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #0a0a0a;
    background-attachment: fixed;
}

::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb { border-radius: 7px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #333; }
::-webkit-scrollbar-thumb:hover {  background: #fff; }

textarea::-webkit-scrollbar { width: 7px; }
textarea::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-thumb { border-radius: 7px; }
textarea::-webkit-scrollbar-track { background: transparent; }
textarea::-webkit-scrollbar-thumb { background: #333; }
textarea::-webkit-scrollbar-thumb:hover { background: #fff; }

@media (max-width: 768px) {
    body {
        padding: 30px;
    }
}

#dataCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.15;
    pointer-events: none;
}