div.carousel {
    display: flex;
    width: 100%;
    border-radius: 10px;
    overflow-x: hidden;
    touch-action: none;
    user-select: none;
    margin-inline: auto;
}

div.carousel::-webkit-scrollbar {
    display: none;
}

div.carousel > div.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    animation: carousel 20s infinite linear;
}

div.carousel > div.group > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 150px;
    padding: 10px 20px;
    border: 1px solid rgba(0, 255, 204, 0.4);
    border-radius: 10px;
    background-color: rgba(0, 255, 204, 0.05);
    box-shadow: 
        0 0 5px rgba(0, 255, 204, 0.2),
        inset 0 0 5px rgba(0, 255, 204, 0.2);
   
}

div.carousel > div.group > div > img {
    width: auto;
    height: 30px;
    object-fit: cover;
    image-rendering: optimizeQuality;
}

div.carousel > div.group > div:last-child {
    margin-right: 15px;
}

@keyframes carousel {
    from { translate: 0; }
    to { translate: -100%; }
}

@media (max-width: 768px) {
    div.carousel > div.group > div {
        min-width: 100px;
        padding: 10px 20px;
    }
    div.carousel > div.group > div > img {
        height: 20px;
    }
}