div.carousel {
    display: flex;
    width: 100%;
    border-radius: 10px;
    overflow-x: hidden;
    touch-action: none;
    user-select: none;
    margin-inline: auto;
}

div.carousel::-webkit-scrollbar {
    display: none;
}

div.carousel > div.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    animation: carousel 20s infinite linear;
}

div.carousel > div.group > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 150px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
}

div.carousel > div.group > div > img {
    width: auto;
    height: 30px;
    object-fit: content;
    image-rendering: optimizeQuality;
}

div.carousel > div.group > div:hover {
    background-color: #fff;
}

div.carousel > div.group > div:hover > img {
    opacity: 1;
    filter: invert(0%) grayscale(0%);
}

div.carousel > div.group > div:last-child {
    margin-right: 15px;
}

@keyframes carousel {
    from { translate: 0; }
    to { translate: -100%; }
}

@media (max-width: 768px) {
    div.carousel > div.group > div {
        min-width: 100px;
        padding: 10px 20px;
    }
    div.carousel > div.group > div > img {
        height: 25px;
    }
}